/******************************/
/*      OPEN SANS FONTS       */
/******************************/
@font-face {
    font-family: "Open Sans light";
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans extraBold";
    src: url("fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Open Sans reg";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans semiBold";
    src: url("fonts/OpenSans-Semibold.ttf");
}

/* Open Sans Fonts Ends */