/* Header starts */


#header img{
    height: 55px;
    width: 155px;
    margin-left: 40px;
}

#header li{
    float: left;
    display: inline-block;
    margin-left: 30px;
    padding-top: 12px;

}

#header a{
    color: #444446;
    font-size: 18px;
    font-family: "serif";
}

#header{
    height: 55px;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 1310px;
}

#client{
    margin-top: 55px;
}

#client div>div:nth-of-type(1){
    height: 616px;
    width: 1280px;
    background-image: url("images/header.png");
}

#client div>p:nth-of-type(1){
    font-family: "Open Sans extraBold";
    font-size: 36px;
    padding: 15% 25% 0% 25%;
    text-align: center;
    color: #f3f3f3;

}

#client div>p:nth-of-type(2){
    font-family: "Open Sans light";
    font-size: 14px;
    padding: 0% 30% 0% 30%;
    text-align: center;
    color: #f3f3f3;
    margin: 0;
}
#client div>p:nth-of-type(3){
    font-family: "Open Sans light";
    font-size: 14px;
    padding: 0% 30% 0% 30%;
    text-align: center;
    color: #f3f3f3;
    margin: 0;
}
/* Header ends */

/* First Content on the Wrapper */
#us{
    margin-top: 130px;
}

#us article p{
    padding-left: 10%;

}

#us article p:nth-of-type(1){
    font-family: "Open Sans extraBold";
    font-size: 36px;
    line-height: 40px;
    width: 10em;
}

#us article p:nth-of-type(2){
    color: #d21221;
    line-height: 30px;
    font-size: 14px;
    margin-top: 30px;
    font-family: "Open Sans reg";
    width: 30em;
}

#us article p:nth-of-type(3){
    font-size: 12px;
    font-family: "Open Sans reg";
    line-height: 18px;
    width: 33em;
}

/* Style for the White lists on the right side */
.list{
    padding-bottom: 100px;
    margin-right: 50px;
    height: 250px;

}

#us div.list>img{
    box-shadow: 0px 25px 50px #bcb9b2;
}
/* Style for the White lists on the right side ENDS */

/* First Content on the Wrapper ENDS*/

/* #Order starts*/
#order>div>div{
    background-image: url("images/order_bckg.png");
    height: 225px;
}

#order div>p{
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans extraBold";
    font-size: 40px;
    height-line: 48px;
    width: 15em;
    margin: auto;
    padding-top: 10px;
}

/* Order Button starts*/
#order button{
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 50px;
    font-family: "Open Sans semiBold";
    font-size: 18px;
    margin-top: 25px;
    color: #2d3d47;
    text-align: center;
    background: #ffffff;

}
/* Order button ends*/
/* #Order ends */

/* Second Content on the Wrapper */
#process div p:nth-child(1) {
    text-align: center;
    font-size: 36px;
    height-line: 40px;
    font-family: "Open Sans extraBold";
    margin-top: 30px;
}

#process div img{
    margin: 0 auto;
    display: block;
    margin-top: 30px;

}

/* Description of the content under Pictures */
#process div img+p{
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-family: "Open Sans extraBold";
    margin-top: 25px;
}

#process div img~p:nth-of-type(2){
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-family: "Open Sans reg";
    width: 24em;

    margin-top: 25px;
}
/* Description of the content under Pictures ENDS*/

/* Second Content on the Wrapper ENDS */

/* Third Content on the Wrapper */
#case>div>div{
    background-color: #efefef;
    margin-top: 100px;
    line-height: 35px;
    font-family: "Open Sans extraBold";
    font-weight: 800;
    font-size: 16px;
    padding: 30px;
    width: 100%;
}

#case P:nth-of-type(2){
    content: "-агенство CandyBoy";
    text-align: right;
    font-family: "Open Sans extraBold";
    display: block;
    color: #83a3b0;
}
/* Third Content on the Wrapper ENDS */



.content_1{
    height: 450px;
}

#wrapper{
    background-color: #e1e1e1;
    width: 1280px;
    margin: auto;
}